[run]
source = .
omit = 
    tests/*
    venv/*
    __pycache__/*
    *.pyc
    setup.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    if __name__ == .__main__.:
    pass

[html]
directory = htmlcov
